<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>com.servlets.EmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>message</servlet-name>
        <servlet-class>com.servlets.message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>com.servlets.Message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProduct</servlet-name>
        <servlet-class>com.servlets.editProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateEmail</servlet-name>
        <servlet-class>com.servlets.ValidateEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMessage</servlet-name>
        <servlet-class>com.servlets.sendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMessage</servlet-name>
        <servlet-class>com.servlets.deleteMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>com.servlets.deleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCart</servlet-name>
        <servlet-class>com.servlets.AddtoCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItem</servlet-name>
        <servlet-class>com.servlets.DeleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>com.servlets.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrder</servlet-name>
        <servlet-class>com.servlets.PlaceOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/EmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProduct</servlet-name>
        <url-pattern>/editProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateEmail</servlet-name>
        <url-pattern>/ValidateEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMessage</servlet-name>
        <url-pattern>/sendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMessage</servlet-name>
        <url-pattern>/deleteMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCart</servlet-name>
        <url-pattern>/AddtoCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItem</servlet-name>
        <url-pattern>/DeleteItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrder</servlet-name>
        <url-pattern>/PlaceOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
